.containerDetalleProducto{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.imagenProducto{
    width: 30rem;
    height: 30rem
}

.containerInfoDetalle{
    display: flex;
    flex-direction: column;
    margin: 5%
}

.containerCount{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(31, 30, 30);
    border-radius: 10px;
}

.selector{
    border: 1px solid rgb(31, 30, 30);
    border-radius: 10px;
}

.buttonCardDetalle{
    margin: 15px;
    background-color: black;
    color: white;
    margin: 5px
}

.infoPrecioProducto{
    font-weight: bold;
}

.labelSelector{
    margin: 1rem 0px;
    font-weight: bold;
}

.buttonLink{
    background-color: black;
    margin-top: 2rem;
    
}

.linkButton{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: white;
}