.itemCart{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    justify-content: space-evenly;
}

.imgProducto {
    width: 7rem;
}
.imgProducto img {
    width: 100%;
}

.itemCart > div{
    margin: 0px 1rem;
    
    
}

.containerItemsCart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.botonQuitar {
    display: flex;
    align-items: center;
}

.contenidoInfoProducto{
    display: flex;
    align-items: center;
}


.componenteLinkCarrito{
    text-decoration: none;
    color: black;
}

.containerTotalCarrito{
    border-bottom: 1px solid #ccc;
    width: 50vh;
    display: flex;
    justify-content: center;
    color: rgb(255, 32, 32);
    margin-bottom: 1rem;
}
.containerCheckout{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.buttonCart{
    width:50%;
}

.buttonContinueBuying{
    margin-bottom: 20px;
}

.formCompra{
    display: flex;
    flex-direction: column;
}

form.formCompra > div {
    margin-bottom: 10px;
}

form.formCompra button {
    background-color: black;
    color: white;
}