.navBar{
    width: 100%;
    background-color: rgb(199, 198, 198);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.componentesLink{
    color: cornflowerblue;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.navList{
    display: flex;
    flex-direction: row;
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
.navList li{
    margin: 0px 30px;
}

.navList li:hover{
    background-color: black;
}

.navList li button{
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.cartContainer{
    margin: 5px;
}

.cartContainer img{
    width: 50%;
}

.imagenLogo{
    width: 100px;
    height: 100px;
    margin: 0.5em;
}

.subNav{
    background-color: transparent;
    color: rgb(0, 238, 255);
    padding: 10px 10px;
    font-weight: bold;
    position: relative;
}


.subCategorias{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 360px) {
    .navBar{
        width: 100%;
        background-color: rgb(199, 198, 198);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navList{
        display: flex;
        flex-direction: column;
        color: black;
        list-style: none;
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
        padding: 10px;
    }
}