.nav-bar{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.componentesLink{
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0, 204, 255);
    padding: 5px;
}

.nav-list li{
    display: inline;
    margin: 5px;
}

.cartContainer{
    margin: 5px;
}

.cartContainer img{
    width: 50%;
}

.imagenLogo{
    width: 100px;
    height: 100px;
    margin: 1em;
}